@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
* {
  text-align: center;
  color: white;
  background: #111111;
  font-family: "Montserrat", sans-serif;
}
.section_title {
  font-size: 2rem;
  font-weight: 400;
}
